@model IEnumerable<Bangazon.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Seller Reports</h1>

<ul>
    <li>
        <a asp-action="IncompleteOrders" asp-controller="Reports">View Incomplete Orders</a>
    </li>
    <li>
        <a asp-action="MultipleOrders" asp-controller="Reports">View Multiple Orders</a>
    </li>
    <li>
        <a asp-action="AbandonedProductTypes" asp-controller="Reports">View Abandoned Product Types</a>
    </li>
</ul>
    
    
    

