@model IEnumerable<Bangazon.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Seller Reports</h1>

<p>
    <a asp-action="IncompleteOrders" asp-controller="Reports">View Incomplete Orders</a>
</p>
