@model IEnumerable<Bangazon.Models.ProductViewModels.GroupedProducts>

@{
    ViewData["Title"] = "Types";
}



<h1>Product Types</h1>

<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ foreach (var item in Model)
            {
                string productCountString = $"({item.ProductCount})";
                if (item.Products.ToList().Count > 0)
                {

                    <h2>@item.TypeName @productCountString</h2>
                   // <span>@productCountString</span>

                    @foreach (var p in item.Products)
                    {
                        <span>@p.Title</span>
                        <br />
                    }
                    }

                }
            }
    </tbody>
    </table>
