
@{
    ViewData["Title"] = "CompleteOrder";
}

<h1>Order Complete</h1>
<p>Thank you for shopping at Bangazon!</p>
<p>Your items will be arriving soon?</p>
<p>Why don't you <a asp-action="Types" asp-controller="Products">keep shopping</a></p>
